ul {
    list-style: none;
}

.slider-list {
    display: inline-flex;
}

.slider-list li+li {
    margin-left: 18px;
}

.slider-icon {
    width: 12px;
    height: 12px;
}

/*Кнопка*/
.a-arrow {
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: greenyellow;
}

.btn {
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: greenyellow;
}

.arrow {
    width: 10px;
    height: 10px;
    fill: #D6214C;
}



/* Иконки footer*/
.social-list {
    display: inline-flex;
}

.social-item:not(:last-child) {
    margin-right: 24px;
}

.icon-social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #FEA5BB;
}

.social {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.icon-social:hover, .icon-social:focus {
    background-color: #D41443;
    color: blue;
}